<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <div style="display: flex; justify-content: flex-right; align-items: center; height: 100%;">
        <img src="assets/icon/favicon.png" alt="WIM Logo" height="32" width="32">
        <span style="margin-left: 8px;">Інтенсивність руху на дорогах України</span>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">traffic</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>
