<ion-menu side="start" menuId="first" contentId="main-content">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title routerLink="/home">
        <div style="display: flex; justify-content: center; align-items: center; height: 100%;">
          <img src="assets/icon/favicon.png" alt="WIM Logo" height="32" width="32">
          <span style="margin-left: 8px;">WIM Analytics</span>
        </div>
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item routerLink="/list">Майданчики WIM</ion-item>
      <ion-item routerLink="/monitor">Моніторинг роботи</ion-item>
      <ion-item routerLink="/measurament-error">Похибки вимірів</ion-item>
      <ion-item routerLink="/traffic">Інтенсивність руху</ion-item>
      <ion-item routerLink="/analysis-ai">Інтелектуальний модуль аналізу</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-router-outlet id="main-content"></ion-router-outlet>