<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Перелік майданчиків зважування в русі</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div>
    <button routerLink="/map">Карта майданчиків WIM</button> 
    <button style="margin-left: 10px;" (click)="saveAsImage()">Зберегти таблицю як зображення</button>
  </div>
  <div>
    <select id="sortOption" [(ngModel)]="sortOption" (ngModelChange)="onSortOptionChange()">
      <option value="default">За замовчуванням</option>
      <option value="problem">Спочатку проблемні</option>
    </select>
  </div>
  <!-- BEGIN: wimList -->
  <ion-list id="wimStatus">
    <ion-item *ngFor="let item of wimList; let i = index">
      <ion-label>
        <div style="display: flex; flex-direction: row;">
          <p style="margin-right: 10px;">{{ item['Номер майданчику WIM'] }}</p>
          <p style="margin-right: 10px;">{{ item['Майданчик WIM'] }}</p>
          <p style="margin-right: 10px;">Індекс дороги: {{ item['Індекс дороги'] }}</p>
          <p style="margin-right: 10px;">Область України: {{ item['Область України'] }}</p>
          <p>Статус роботи:</p>
    
          <ion-select [(ngModel)]="wimList[i]['Статус роботи']" (ionChange)="onStatusChange($event.detail.value, wimList[i])">
            <ion-select-option value="Normal">Працює без зауважеень</ion-select-option>
            <ion-select-option value="Problem">Потребує виправлення</ion-select-option>
            <ion-select-option value="Custom">Не працює</ion-select-option>
            <!-- Додайте інші статуси за потреби -->
          </ion-select>
        </div>
      </ion-label>
    </ion-item>
    
  </ion-list>
  <!-- END: wimList -->
</ion-content>
