#sortOption {
    display: block;
    margin-bottom: 20px;
  }

label {
    font-weight: bold;
    display: flex; 
    margin-left: auto;
    align-items: center;
}
  select {
    margin-top: 20px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 200px;
    margin-left: auto; // Add this line to push the select element to the right
  }

  ion-list {
    margin-top: 20px;
  }

  ion-item {
    padding: 10px;
  }
  

  ion-label {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  p {
    margin-right: 10px;
  }

  p.router-link {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
  }

  p.router-link:hover {
    color: darkblue;
  }

  button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  button:hover {
    background-color: #0056b3;
  }

  button:active {
    background-color: #003080;
  }