<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <div style="display: flex; justify-content: flex-right; align-items: center; height: 100%;">
        <img src="assets/icon/favicon.png" alt="WIM Logo" height="32" width="32">
        <span style="margin-left: 8px;">WIM Analytics</span>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>
   

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class='tableauPlaceholder' id='viz1700830086607' style='position: relative; height: 100vh;'>
    <noscript>
      <a href='#'><img alt='Головний дашборд ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;wi&#47;wim_17008299081670&#47;HomeDASH&#47;1_rss.png' style='border: none' /></a>
    </noscript>
    <object class='tableauViz'  style='display:none; height: 100%; width: 100%;'>
      <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> 
      <param name='embed_code_version' value='3' />
      <param name='site_root' value='' />
      <param name='name' value='wim_17008299081670&#47;HomeDASH' />
      <param name='tabs' value='no' />
      <param name='toolbar' value='yes' />
      <param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;wi&#47;wim_17008299081670&#47;HomeDASH&#47;1.png' /> 
      <param name='animate_transition' value='yes' />
      <param name='display_static_image' value='yes' />
      <param name='display_spinner' value='yes' />
      <param name='display_overlay' value='yes' />
      <param name='display_count' value='yes' />
      <param name='language' value='en-US' />
      <param name='filter' value='publish=yes' />
    </object>
  </div> 
  
</ion-content>